<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
      <staticContent>
        <mimeMap fileExtension="woff" mimeType="application/font-woff"/>
        <mimeMap fileExtension="woff2" mimeType="application/font-woff"/>
      </staticContent>
      <authorization>
        <allow users="bx.audi.vwg\DZB5601, bx.audi.vwg\AOEZI4N, bx.audi.vwg\DZB4339" />
        <deny users="*" />
      </authorization>
  </system.web>
</configuration>